html {
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -o-user-select: none;
  user-select: none;
}
body {
  font-family: "comic sans MS";
}

#h {
  position: absolute;
  top: 263px;
  left: 267px;
  background: none;
}
#v {
  position: absolute;
  top: 260px;
  left: 233px;
  background: none;
}
#a {
  position: absolute;
  top: 218px;
  left: 273px;
  background: none;
}
#hhhh {
  position: absolute;
  top: 53px;
  left: 78px;
  background: none;
}
#aa {
  position: absolute;
  top: 318px;
  left: 273px;
  background: none;
}
#bb {
  position: absolute;
  top: 100px;
  left: 350px;
  background: none;
}
#b11 {
  position: absolute;
  top: 100px;
  left: 402px;
  background: none;
}
#b2 {
  position: absolute;
  top: 408px;
  left: 423px;
  background: none;
}
#b {
  position: absolute;
  top: 408px;
  left: 363px;
  background: none;
}
#b22 {
  position: absolute;
  top: 206px;
  left: 435px;
  background: none;
}
.label {
  border: none;
  position: relative;
  top: 250px;
  background-color: #fff;
  font-weight: bold;
  font: bold 16px serif;
  visibility: hidden;
  outline: none;
}
#b1 {
  position: absolute;
  top: 305px;
  left: 375px;
}
.imges {
  height: 340px;
  width: 700px;
  top: 150px;
}

#simscreen {
  position: relative;
  left: 0px;
  top: 0px;
  height: 600px;
  width: 800px;
  background-image: url("../images/background.png");
}

#copyright {
  position: absolute;
  left: 50px;
  top: 577px;
  font-family: "comic sans MS";
  font-size: 12px;
}

#title {
  position: relative;
  left: 35px;
  top: 18px;
  height: 40px;
  font-size: 24px;
  text-align: center;
  /* background-color: black; */
  font-family: "comic sans MS"; /* color: White; */
  text-transform: uppercase;
}

#title h3 {
  padding-top: 2px;
  font-size: 22px;
  margin: 0px;
}

#objective {
  /* t r b l */
  padding: 5px 0 10px 0;
  margin: 35px 0 0 0;
  font-size: 20px;
}

#apparatus {
  /* t r b l */
  padding: 5px 0 10px 0;
  margin: 5px 0 0 0;
  font-size: 20px;
}
#question-div {
  position: absolute;
  left: 300px;
  top: 350px;
  width: 300px;
  height: 120px;
  border: solid 1px gray;
  background-color: gray;
  filter: alpha(opacity=55);
  color: white;
  visibility: hidden;
}
#can {
  position: absolute;
  top: 30px;
}
.simsubscreen {
  position: absolute;
  left: 50px;
  top: 70px;
  height: 530px;
  width: 745px;
}

.incanvas {
  margin: 5px 0 0 5px;
}
#nextButton {
  position: absolute;
  left: 740px;
  top: 520px;
  cursor: pointer;
}
#reset {
  position: absolute;
  left: 740px;
  top: 520px;
  cursor: pointer;
}

#prevButton {
  position: absolute;
  left: 0px;
  top: 532px;
  cursor: pointer;
}

.steptext {
  display: inline;
  top: 40px;
}

.steptext-6 {
  display: inline;
}

.steptext-2 {
  display: inline;
}

.circlebg {
  border-radius: 100%;
  font-size: 25px;
  color: #fff;
  text-align: center;
  background: #000;
}
#pumptext {
  position: absolute;
  top: 20px;
}

.legend {
  cursor: pointer;
  display: inline-block;
  position: relative;
  top: 420px;
  width: 300px;
  box-sizing: border-box;
}
ol {
  background-color: black;
  color: #fff;
  position: absolute;
  left: 0px;
  top: -290px;
  padding: 15px 25px;
  border-radius: 15px;
}
div ol {
  visibility: hidden;
}

.legend-data {
  font-weight: bold;
  width: 80px;
  padding-left: 20px;
}
.legend-data:hover {
  border: 1px dotted black;
}
.legend-data:hover + ol {
  visibility: visible;
}

@-webkit-keyframes glowing {
  0% {
    background-color: IVORY;
    -webkit-box-shadow: 0 0 3px IVORY;
  }
  50% {
    background-color: #c0c0c0;
    -webkit-box-shadow: 0 0 40px #c0c0c0;
  }
  100% {
    background-color: IVORY;
    -webkit-box-shadow: 0 0 3px IVORY;
  }
}

@-moz-keyframes glowing {
  0% {
    background-color: IVORY;
    -moz-box-shadow: 0 0 3px IVORY;
  }
  50% {
    background-color: #c0c0c0;
    -moz-box-shadow: 0 0 40px #c0c0c0;
  }
  100% {
    background-color: IVORY;
    -moz-box-shadow: 0 0 3px IVORY;
  }
}

@-o-keyframes glowing {
  0% {
    background-color: IVORY;
    box-shadow: 0 0 3px IVORY;
  }
  50% {
    background-color: #c0c0c0;
    box-shadow: 0 0 40px #c0c0c0;
  }
  100% {
    background-color: IVORY;
    box-shadow: 0 0 3px IVORY;
  }
}

@keyframes glowing {
  0% {
    background-color: IVORY;
    box-shadow: 0 0 3px IVORY;
  }
  50% {
    background-color: #c0c0c0;
    box-shadow: 0 0 40px #c0c0c0;
  }
  100% {
    background-color: IVORY;
    box-shadow: 0 0 3px IVORY;
  }
}
